.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-image: url("./tea.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  overflow: hidden;

  .actionArea {
    position: relative;
    top: 20%;
    left: 15rem;
    width: 100%;

    @media only screen and (max-width: 800px) {
      left: 0;
      text-align: center;
    }

    .title, .count, .countUp {
      font-size: 2rem;
      display: inline-block;
      font-weight: bold;
    }

    .title {
      @media only screen and (max-width: 800px) {
        display: block;
      }
    }

    .count {
      background-color: #ac4204;
      margin-left: .5rem;
      padding: 0 .5rem;
      border-radius: 5px;
    }

    .countUp {
      padding: 0 .5rem;
    }
  }
}
